---
import AboutHeroImage from '../assets/blog-placeholder-about.png';
import Layout from '../layouts/BlogPost.astro';
---

<Layout
	title="Sobre mi / About Me"
	description="Lorem ipsum dolor sit amet"
	pubDate={new Date('August 08 2021')}
	heroImage={AboutHeroImage}
>
	<p>
		Des de ben petit m’he sentit atret per la informàtica. 
		Vaig tenir la sort que amb 11 anys em regalàssin el meu primer ordinador, un MSX HitBit 20P de Sony, amb el que jugava carregant jocs de casset i feia, junt amb altres amics, qualque programa amb Basic. Un d'ells va ser un clon del LazerBikes per a tres jugadors.
	</p>
	<p> 
	    Tenc el títol de mòdul superior d’anàlisi i desenvolupament d’aplicacions informàtiques.
	</p>
	<p> 		
	    Des de 1999 treball com a desenvolupador d’aplicacions de gestió (PMS, ERP, FMS, ...) a Tec-Soft Consulting i des de 2001 com a cap de projecte.
	</p>
	<p> 
		El meu temps lliure el dedic a la família, a viatjar, a anar d’excursió, a la música, als còmics, al cinema, a participar de les associacions del poble, a degustar cerveses, a cuinar, … i com no, a la informàtica.
	</p>

</Layout>
